@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400;500;600;700&display=swap');

/* reset css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color:white;
    font-family: "josefin+sans",sans-serif;
    font-size: 16px;
}
a{
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}

img{
    max-width:100%;
} 

 section{
    padding: 0px 0px 100px 0px;
} 

  /* reset css end */
   .container{
      max-width: 1140px;
  }
  .hero-area{
      background-image: url(assets/img/background.jpg);
      width: 100%;
      background-size: cover;
      background-position: center;
  }
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 45px;
      padding-right: 8%;
      padding-left: 8%;
  }
  .logo h2{
      color: white;
      font-size: 35px;
      letter-spacing: 1px;
      cursor: pointer;
  }
  span{
      color: #f9004d;
  }
  nav ul li {
      display: inline-block;
      padding: 10px 30px;
  }
  nav ul li a{
      text-transform: capitalize;
      font-weight: bold;
      color: white;
  }
  nav ul li a:hover{
      color: #f9004d;
   
  }
  .btn{
      background-color: #f9004d;
      color: whit;
      font-weight: bold;
      border: 2px solid transparent;
      padding: 10px 20px;
      border-radius: 30px;
      transition: transform .4s;
  }
  .btn:hover{
     color: #f9004d;
     background-color: white;
     border-color: #f9004d;
  }
  .content{
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translateX(12%);
  }
  h1{
      color: white;
      font-size: 50px;
      margin: 20px 0px 20px;
  }
  h3{
      margin-bottom: 50px;
      font-size: 25px;
  }
  h4{
      letter-spacing: 2px;
      font-size: 20px;
      color: #fcfc;
  }
  .newsletter form{
      width: 380px;
      max-width: 100%;
      position: relative;
  }
  .newsletter form input:first-child{
      display: inline-block;
      width: 100%;
      padding: 15px 130px 15px 15px;
      border: 1px solid #f9004d;
      border-radius: 20px;
  }
  .newsletter form input:last-child{
      position: absolute;
      display: inline-block;
      outline: none;
      border: none;
      padding: 12px 30px;
      border-radius: 30px;
      background-color: #f9004d;
      color: white;
      top: 3px;
      right: 6px;
      transform: translate(0px);
      transform: 0.3s;
  }
  .newsletter form input:last-child:hover{
      transform: translateX(5px);
  }
  .about{
      width: 100%;
      padding: 100px 0px;
      background-color: #191919;
  } 





